.preview
{

    padding:28px 0 100px 0;
    position:relative;
    &__life
    {
        font-weight:700;
        font-size:20px;
        margin-left:35px;
        margin-top:35px;
    }

    .bgc_blue
    {

    position:absolute;
    right:0;
    top:-155px;
    width:50vw;
    height:900px;
    background:rgba(146,242,255,.15);
    z-index:-1;
    }
}

